*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    background: url(../img/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    
    width: 100%;
    height: 100vh;
}

.contenedor_formulario{
    margin-left: 100px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 800px;
    height: min-content;
    border-radius: 20px;
}

form{
    display: grid;
    grid-template-rows:1fr 0.5fr 0.5fr;
    height: 78vh;
}

.info_cliente{
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.info_cliente .titulo{
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: #fff;
    font-size: 24px;
}

.info_cliente .info{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.info_cliente_izq, .info_cliente_der{
    display: flex;
    width: 100%;
    height: min-content;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.info_tecnico{
    display: grid;
    grid-template-rows: 1fr 3fr;
    height: min-content;
}

.info_tecnico_titulo{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: #fff;
    font-size: 24px;
}

.info_tecnico_form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.botones{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.info .campo{
    width: 100%;
    height: 100%;
}

label{
    width: 100%;
    display: flex;
    justify-content: center;
}

input{
    width:calc(100% - 100px);
    background: transparent;
    border: none;
    outline: none;
    margin-bottom: 25px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 10px 20px;
}

select{
    width:calc(100% - 55px);
    background: transparent;
    border: none;
    outline: none;
    margin-bottom: 25px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px; 
    appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

select:hover{
    background: #333;
    border-radius: 4px;
}

input::placeholder{
    color: #fff;
}

.info_tecnico_form .campo{
    width: calc(100% - 100px);
}

button{
    width: calc(100% - 50px);
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}